*{
    margin: 0;
    top: 0;
    font-family: 'Titillium Web';
    font-size: medium;
}
body{
    scroll-behavior: smooth;
}
/* HOME START */
.section-page{
    height: 100vh;
    width: 98.75vw;
    background-color: #161616;
}
.home-h{
    position: absolute;
    top: 35%;
    left: 10%;
}
.home-p{
    position: absolute;
    top: 54%;
    left: 35%;
}
.content{
    position: relative;
    height: 100vh;
    width: 50vw;
}
.tournament-h1{
    position: relative;
    left: 20%;
}
.tournament-p{
    position: relative;
    left: 20%;
    padding-top: 3%;
}
.signupbtn-home{
    position: relative;
    left: 20%;
    top: 5%;
    padding: 17px 45px;
    cursor:pointer;
    color: #fff;
    background-color: #003399;
    border: none;
}
.signupbtn-home:hover{
    border-color: red;
}
.loginbtn-home{
    position: relative;
    left: 25%;
    top: 5%;
    padding: 17px 63px;
    cursor:pointer;
    color: #fff;
    background-color: #161616;
    border:2px solid #003399;
}
.loginbtn-home:hover{
    color: #fff;
    background-color: #003399;
    border-color: red;
}
.content-3{
    position: relative;
    height: 100vh;
    width: 98.75vw;
}
.announcements-h1{
    position: relative;
    text-align: center;
}
.announcements-p{
    position: relative;
    text-align: center;
    top: 3%;
}
.announcements-h2{
    position: relative;
    top: 10%;
    text-align: center;
}
.announcements-p1{
    position: relative;
    text-align: center;
    top: 13%;
}
.sectionh-h1{
    position: relative;
    text-align: right;
    right: 9%;
}
.section5-h1{
    position: relative;
    text-align: center;
    top: 30%;
    color: #ffffff; 
    font-size: 80px;
    font-family: 'Titillium Web';
}
.section6-h1{
    position: relative;
    text-align: center;
    top: 20%;
}
.news-lethome{
    position: relative;
    top: 25%;
    left: 18%;
    width: 55%;
    height: 53px;
}
.submitbtn-home{
    position: relative;
    padding: 17px 45px;
    top: 25%;
    left: 20%;
    cursor:pointer;
    color: #fff;
    background-color: #003399;
    border: none;
}
/* HOME END */
/* LOGIN START */
section.main-login{
    position: absolute;
    height: 150vh;
    width: 100%;
    background-color: #161616;
}
.log-h{
    position: inherit;
    top: 18%;
    line-height: 26px;
    font-size: 16px;
}
hr.line-log{
    position: inherit;
    top: 25%;
    width: 100%;
}
hr.login-row{
    position: inherit;
    top: 57%;
    width: 160%;
}
section.center{
    position: relative;
    height: 100%;
    width: 50%;
    left: 10%;
}
.center-items{
    position: relative;
    top: 37%;
    width: 100%;
}
input{
    background-color: #292626;
    color: #fff;
}
input::placeholder{
    color: #c0c0c0;
}
input[type=password] {
    border-color: none;
}
#logo:hover{
    border: none;
}
.reset-here:hover{
    color: #003399;
}
.email-log{
    position: inherit;
    top: 68%;
    height: 50px;
    width: 956.2px;
}
.passwd-log{
    position: absolute;
    top: 180%;
    height: 50px;
    width: 956.2px;
}
.remember-1{
    position: absolute;
    top: 320%;
}
.remember{
    position: absolute;
    top: 320%;
    left: 4%;
}
.login-btn{
    position: absolute;
    top: 390%;
    padding: 0.5rem 0.5rem;
    cursor: pointer;
}
.signup-here{
    position: absolute;
    top: 490%;
    left: 45%;
}
.signup-here:hover{
    color: #003399 !important;
}
.reset-here:hover{
    color: #003399 !important;
}
.reset-here{
    position: absolute;
    top: 490%;
    left: 85%;
}
/* LOGIN END */
/* RESET START */
section.reset{
    position: absolute;
    height: 150vh;
    width: 100%;
    background-color: #161616;
}
.reset-btn{
    position: relative;
    top: 30px;
    padding: 1.5rem 3rem;
    cursor: pointer;
}
.reset-row{
    position: inherit;
    top: 47%;
    width: 160%;
}
.login-here-res{
    position: absolute;
    top: 180%;
    left: 70%;
}
.login-here-res:hover{
    color: #003399 !important;
}
.sign-here{
    position: absolute;
    top: 180%;
    left: 78%;
}
.sign-here:hover{
    color: #003399 !important;
}
/* RESET END */
/* CONTACT US START */
.main-contus{
    height: 100vh;
    width: 98.75vw;
    background-color: #292626;
    overflow: hidden;
}
.contus-h1{
    position: relative;
    text-align: center;
    top: 50%;
}
.sec-two-contus{
    position: relative;
    height: 100vh;
    width: 98.75vw;
    overflow: hidden;
    background-color: #161616;
  }
  .cont-us{
    position: relative;
    left: 45%;
  }
  .cont-name{
    position: relative;
    height: 50px;
    width: 578.1px;
  }
  .cont-email{
    position:absolute;
    height: 50px;
    width: 578.1px;
    right: 57%;
    top: 115%;
  }
  .message{
    position: absolute;
    height: 80px;
    width: 578.1px;
    right: 57%;
    top: 225%;
    background-color: #292626;
  }
  .cont-btn{
    position: absolute;
    width: 578.1px;
    height: 50px;
    cursor: pointer;
    right: 57%;
    top: 400%;
    color: #fff;
    background-color: #003399;
  }
  .cont-btn:hover{
    border-color: rgb(156, 49, 49);
  }
  .left-contus{
    position: relative;
    top: 30%;
  }
  .contus-h{
    position: relative;
    left: 10%;
  }
  .contus-p1{
    position: relative;
    left: 10%;
    padding-top: 2%;
  }
  .contus-p2{
    position: relative;
    left: 10%;
    padding-top: 2%;
  }
/* CONTACT US END */
/* SIGN UP START */
section.main-signup{
    position: absolute;
    height: 150vh;
    width: 100%;
    background-color: #161616;
}
section.center{
    position: relative;
    height: 100%;
    width: 50%;
    left: 10%;
}
.first-name{
    position: inherit;
    top: 68%;
    height: 50px;
    width: 956.2px;
}
.last-name{
    position: absolute;
    top: 130%;
    height: 50px;
    width: 956.2px;
}
.username{
    position: absolute;
    top: 260%;
    height: 50px;
    width: 956.2px;
}
.email{
    position: absolute;
    top: 390%;
    height: 50px;
    width: 956.2px;
}
.passwd{
    position: absolute;
    top: 390%;
    height: 50px;
    width: 956.2px;
}
.login-here{
    position: absolute;
    top: 630%;
    left: 50%;
}
.login-here:hover{
    color: #003399 !important;
}
.signup-btn{
    position: absolute;
    top: 530%;
    padding: 0.5rem 0.5rem;
    cursor: pointer;
}
hr.signup-row{
    position: inherit;
    top: 65%;
    width: 160%;
}
/* SIGN UP END */
/* TOURNAMENT START */
.tournament-1{
    height: 75vh;
    width: 98.75vw;
    overflow: hidden;
    background-color: #c0c0c0;
}
.tournament-h{
    position: relative;
    top: 45%;
    left: 12%;
}
.tournament-2{
    height: 100vh;
    width: 98.75vw;
    overflow-x: hidden;
    background-color: #292626;
}
.container{
    width: 70%;
    height: 450px;
    background-color: transparent;
    overflow-x: hidden;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.5);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.tabsGroup{
    display: flex;
    font-weight: 900;
    font-size: 22px;
    border-bottom: 1px solid black;
}
.tabsGroup .tabs{
    padding: 15px 30px;
    cursor: pointer;
}
.tabsGroup .tabs:hover{
    background-color: #ccf;
}
.contentsGroup{
    padding: 30px;
}
.contentsGroup .contents{
    position: absolute;
    color: #222;
    width: calc(100% - 60px);
    transform: translateX(105%);
    transition: transform 0.3s ease-out;
}
.contentsGroup .contents h1{
    padding-bottom: 26px;
}
.contentsGroup .contents p{
    font-size: 20pxs;
}
.contentsGroup .active{
    transform: translateX(0%);
    transition: transform 0.3s;
    transition-delay: 0.4s;
}
.tabsGroup .active{
    background-color: #003399;
}
  .row-1-tournament{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 0.5rem;
    background-color: #222;
  }
  .upcoming-match-1{
    top: 46%;
    width: 65vw;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 0.5rem;
    background-color: #dd5353;
  }
  .row-2-upcoming{
    position: relative;
    top: 145%;
    width: 66.2vw;
    height: 25vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
  }
  .logo-1-upcoming, .logo-2-upcoming{
      width: 8vw;
      height: 10vh;
  }
  .up-match{
    position: absolute;
    top: 50%;
    width: 65vw;
    height: 20%;
    background-color: #fff;
  }
  .headings{
    position: inherit;
    width: inherit;
    height: 30vh;
    top: 10%;
  }
  .vs{
    padding: 1% 1%;
    padding-bottom: 0.5%;
    border-radius: 50%;
  }
  .row-2-tournament{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.5rem;
  }
  .logo-1-tournament, .logo-2-tournament{
    padding-top: 0.5%;
  }
  .logo-1-tournament{
    width: 7vw;
    height: 10vh;
  }
  .logo-2-tournament{
    width: 7vw;
    height: 10vh;
  }
  .watch-now{
    height: 5vh;
    width: 10vw;
  }
  .join-now{
    position: absolute;
    left: 42%;
    top: 70%;
    padding: 10px 10px;
    color: #fff;
    background-color: #003399;
    cursor: pointer;
    border: none;
  }
/* TOURNAMENT END */
  /* FOOTER START */
  .footer{
    position: relative;
    top: 0%;
    width: 100%;
    padding-top: 7%;
    height: 23%;
    background-color: #000000;
    overflow-y: hidden;
    overflow-x: hidden;
}
.news-let{
  position: absolute;
  width: 520px;
  top: 22%;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: #000000;
  height: 35px;
  left:30%;
  outline: none;
}
.btn-primary{
    border: 3px solid #fff;
    border-radius: 35px;
    background-color: #fff;
}
.btn-newsl{
    position: absolute;
    top: 22%;
  left:70%;
}
.btn-primary:hover{
    color: #003399;
    cursor: pointer;
}
.text-center1{
    position: relative;
    top: 45%;
    left: 45%;
    gap: 50rem;
}
  /* FOOTER END */