#backtop {
  /* (A) BOTTOM RIGHT CORNER */
  position: fixed;
  top: 80%;
  left: 92%;
  z-index: 999;

  /* (B) HIDDEN BY DEFAULT */
  visibility: none;
  opacity: 0;

  /* (C) COSMETICS */
  cursor: pointer;
  transition: opacity 0.3s;
}

/* (D) SHOW BUTTON */
#backtop.show {
  visibility: visible;
  opacity: 1;
}

/* (X) DOES NOT MATTER */
* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}