*{
    margin: 0;
    top: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}
body{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
  z-index: 999;
}
/* INDEX SECTION START */
.section-page {
    height: 100vh;
    width: 98.75vw;
    display: flex;
    color: white;
  }
  /* Style for Section 1 */
  .section-page:nth-child(1) {
    background-image: url('img/pubg1.jpg');
    background-size: cover;
    background-position: center;
  }
h1.tournament-h1,.announcements-h1{
    position: relative;
    top: 30%;
}
p.tournament-p,.announcements-p{
    position: relative;
    top: 35%;
    width: 50vw;
    height: 26%;
}
div.tournament-display,.announcements-display{
    position: relative;
    width: 45vw;
    height: 70%;
    left: 100%;
}
  /* Style for Section 2 */
  .section-page:nth-child(2) {
    background-image: url('img/pubg2.jpg');
    background-size: cover;
    background-position: center;
  }

  /* Style for Section 3 */
  .section-page:nth-child(3) {
    background-image: url('img/pubg3.jpg');
    background-size: cover;
    background-position: center;
  }

  .content {
    padding: 20px;
  }
/* INDEX SECTION END */
/* LOGIN & SIGNUP SECTION START */
section.main-login{
    position: absolute;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    background-image: url(img/pubg2.jpg);
}
section.main-signup{
    position: absolute;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    background-image: url(img/pubg2.jpg);
}
section.main-feed{
    position: absolute;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    background-image: url(img/pubg5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
section.main-market{
    position: absolute;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    background-image: url(img/pubg6.jpg);
        background-size: cover;
    background-repeat: no-repeat;
}
/* LOGIN & SIGNUP SECTION END */
/* CONTACT SECTION START*/
section.main-contus{
    position: absolute;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    background-image: url(img/pubg2.jpg);
}
.container{
    position: absolute;
    top: 20%;
    height: 100%;
}
h1.cont-h1{
    position: absolute;
    color: #fff;
    top: 5%;
    height: 30px;
    width: 100%;
    left: 680px;
    font-size: large;
}
.cont-name{
    position: absolute;
    top: 90px;
    left: 680px;
    width: 300px;
    height: 30px;
}
.cont-email{
    position: absolute;
    top: 140px;
    left: 680px;
    width: 300px;
    height: 30px;
}
textarea{
    position: absolute;
    top: 190px;
    left: 680px;
    width: 300px;
}
.cont-btn{
    position: absolute;
    top: 320px;
    left: 680px;
    width: 300px;
    height: 40px;
    color: #fff;
}
/* CONTACT SECTION END */
h1,h2{
    color: white;
}
section.center{
    position: absolute;
    height: 100%;
    width: 50%;
    left: 25%;
}
div.right-items{
    position: absolute;
    height: 100%;
    top: 40px;
}
/* BUTTON INPUT CHECKBOX START */
.sign-up-btn{
    position: absolute;
    top: 10px;
    left: 240px;
    width: 190px;
    height: 60px;
    color: #fff;
}
.fb-log-in-btn{
    position: absolute;
    top: 90px;
    left: 240px;
    width: 190px;
    height: 60px;
    color: #fff;
}
.phone-log-in-btn{
    position: absolute;
    top: 170px;
    left: 240px;
    width: 190px;
    height: 60px;
    color: #fff;
}
button{
    padding: 10px;
    background: black;
    border: 3px solid #b6adad;
    border-radius: 0px;
}
button:hover{
    cursor: pointer;
}
input{
    position: absolute;
    left: 240px;
    background: black;
    border: 3px solid #181616;
    border-radius: 0px;
}
input::placeholder{
    color: #fff;
}
input[type="text"]{
    color: #fff;
}
input[type="password"]{
    color: #fff;
}
input[type="email"]{
    color: #fff;
}
input.first-name{
    position: absolute;
    top: 180px;
    left: 290px;
    width: 210px;
    height: 30px;
}
input.last-name{
    position: absolute;
    top: 240px;
    left: 290px;
    width: 210px;
    height: 30px;
}
input.id-no{
    position: absolute;
    top: 300px;
    left:290px;
    width: 210px;
    height: 30px;
}
input.passwd{
    position: absolute;
    top: 420px;
    left: 290px;
    width: 210px;
    height: 30px;
}
input.email{
    position: absolute;
    top: 360px;
    left: 290px;
    width: 210px;
    height: 30px;
}
input.passwd-log{
  position: absolute;
  top: 280px;
  left: 290px;
  width: 210px;
  height: 30px;
}
input.email-log{
  position: absolute;
  top: 220px;
  left: 290px;
  width: 210px;
  height: 30px;
}
.login-btn{
    position: absolute;
    top: 460px;
    left: 290px;
    width: 210px;
    height: 60px;
    color: #fff;
}
.signup-btn{
    position: absolute;
    top: 540px;
    left: 290px;
    width: 210px;
    height: 60px;
    color: #fff;
}
p.remember{
    position: absolute;
    top: 340px;
    left: 320px;
    width: 290px;
    color: #181616;
}
.login-here{
    position: absolute;
    top: 480px;
    left: 290px;
    width: 210px;
    color: #000;
}
.signup-here{
    position: absolute;
    top: 400px;
    left: 290px;
    width: 210px;
    color: #000;
}
.remember-1{
    position: absolute;
    top: 342px;
    left: 290px;
}
.remember-1:hover{
    cursor: pointer;
}
/* BUTTON INPUT CHECKBOX END */
/* FOOTER START */
.footer{
    position: fixed;
    top: 91%;
    width: 100%;
    height: 75px;
    background-color: rgb(26, 23, 23);
}
.btn-primary{
    border: 3px solid #fff;
    border-radius: 35px;
    background-color: #fff;
}
.text-center1{
    position:relative;
    left:45%;
    top: 2%;
}
.text-center2{
    position: relative;
    left: 3%;
    top: 12%;
    color: #fff;
}
/* FOOTER END */
/* NAVBAR START */

/* NAVBAR END */
/* MEDIA QUERY START */
@media screen and (max-width: 1200px) {
    /* Styles for laptops */
            /* NAVBAR START */

      /* NAVBAR END */
          /* CONTACT SECTION START*/
section.main-contus{
  position: absolute;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  background-image: url(img/pubg2.jpg);
  background-position: center;
}
.container{
  position: absolute;
  top: 20%;
  height: 100%;
}
h1.cont-h1{
  position: absolute;
  color: #fff;
  top: 5%;
  height: 30px;
  width: 100%;
  left: 369.5px;
}
.cont-name{
  position: absolute;
  top: 90px;
  left: 250.5px;
  width: 300px;
  height: 30px;
}
.cont-email{
  position: absolute;
  top: 140px;
  left: 250.5px;
  width: 300px;
  height: 30px;
}
textarea{
  position: absolute;
  top: 190px;
  left: 250.5px;
  width: 300px;
}
.cont-btn{
  position: absolute;
  top: 320px;
  left: 250.5px;
  width: 300px;
  height: 40px;
  color: #fff;
}
/* CONTACT SECTION END */
/* BUTTON INPUT CHECKBOX START */
.sign-up-btn{
  position: absolute;
  top: 10px;
  left: 250.5px;
  width: 190px;
  height: 60px;
  color: #fff;
}
.fb-log-in-btn{
  position: absolute;
  top: 90px;
  left: 240px;
  width: 190px;
  height: 60px;
  color: #fff;
}
.phone-log-in-btn{
  position: absolute;
  top: 170px;
  left: 240px;
  width: 190px;
  height: 60px;
  color: #fff;
}
input{
  position: absolute;
  left: 250.5px;
  background: black;
  border: 3px solid #181616;
  border-radius: 0px;
}
input.first-name{
  position: absolute;
  top: 90px;
  left: 110.5px;
  width: 190px;
  height: 30px;
}
input.last-name{
  position: absolute;
  top: 140px;
  left: 110.5px;
  width: 190px;
  height: 30px;
}
input.id-no{
  position: absolute;
  top: 190px;
  left: 110.5px;
  width: 190px;
  height: 30px;
}
input.passwd{
  position: absolute;
  top: 290px;
  left: 110.5px;
  width: 190px;
  height: 30px;
}
input.email{
  position: absolute;
  top: 240px;
  left: 110.5px;
  width: 190px;
  height: 30px;
}
.login-btn{
  position: absolute;
  top: 420px;
  left: 110.5px;
  width: 190px;
  height: 60px;
  color: #fff;
}
.signup-btn{
  position: absolute;
  top: 390px;
  left: 110.5px;
  width: 190px;
  height: 60px;
  color: #fff;
}
p.remember{
  position: absolute;
  top: 340px;
  left: 140.5px;
  font-size: medium;
  width: 190px;
  color: #181616;
}
.login-here{
  position: absolute;
  top: 350px;
  font-size: medium;
  left: 110.5px;
  width: 190px;
  color: #000;
}
.signup-here{
  position: absolute;
  top: 375px;
  left: 110.5px;
  font-size: medium;
  width: 190px;
  color: #000;
}
.remember-1{
  position: absolute;
  top: 342px;
  font-size: medium;
  left: 110.5px;
}
.remember-1:hover{
  cursor: pointer;
}
/* BUTTON INPUT CHECKBOX END */
/* LOGIN & SIGNUP SECTION START */
section.main-login{
  position: absolute;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  background-image: url(img/pubg2.jpg);
  background-position: center;
}
section.main-signup{
  position: absolute;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  background-image: url(img/pubg2.jpg);
  background-position: center;
}
section.main-feed{
  position: absolute;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  background-image: url(img/pubg5.jpg);
  background-position: center;
}
section.main-market{
  position: absolute;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  background-image: url(img/pubg6.jpg);
  background-position: center;
}
/* LOGIN & SIGNUP SECTION END */
/* ANNOUNCEMENT AND ALL TOURNAMENTS START */
h1.tournament-h1,.announcements-h1{
  position: relative;
  top: 30%;
  font-size: medium;
}
p.tournament-p,.announcements-p{
  position: relative;
  top: 35%;
  width: 50vw;
  height: 26%;
  font-size: medium;
}
/* ANNOUNCEMENT AND ALL TOURNAMENTS END */
    /* FOOTER START */
    .footer{
      position: fixed;
      top: 93%;
      width: 100%;
      height: 55px;
      background-color: rgb(26, 23, 23);
  }
  .text-center1{
      position:absolute;
      left:75%;
      top: 0px;
  }
  .text-center2{
      position: absolute;
      left: -120%;
      top: 25%;
      color: #fff;
      font-size: medium;
  }
    /* FOOTER END */
}
  @media screen and (max-width: 991px) {
    /* Styles for tablets */
        /* NAVBAR START */

    /* NAVBAR END */
  }
  
  @media screen and (max-width: 767px) {
    /* Styles for smartphones */
        /* NAVBAR START */

    /* NAVBAR END */
    /* CONTACT SECTION START*/
section.main-contus{
  position: absolute;
  height: 100vh;
  width: 50vw;
  overflow-y: hidden;
  background-image: url(img/pubg2.jpg);
  background-position: center;
}
.container{
  position: absolute;
  top: 20%;
  height: 100%;
}
h1.cont-h1{
  position: absolute;
  color: #fff;
  top: 5%;
  height: 30px;
  width: 100%;
  left: 369.5px;
}
.cont-name{
  position: absolute;
  top: 90px;
  left: 250.5px;
  width: 300px;
  height: 30px;
}
.cont-email{
  position: absolute;
  top: 140px;
  left: 250.5px;
  width: 300px;
  height: 30px;
}
textarea{
  position: absolute;
  top: 190px;
  left: 250.5px;
  width: 300px;
}
.cont-btn{
  position: absolute;
  top: 320px;
  left: 250.5px;
  width: 300px;
  height: 40px;
  color: #fff;
}
/* CONTACT SECTION END */
/* BUTTON INPUT CHECKBOX START */
.sign-up-btn{
  position: absolute;
  top: 10px;
  left: 250.5px;
  width: 190px;
  height: 60px;
  color: #fff;
}
.fb-log-in-btn{
  position: absolute;
  top: 90px;
  left: 240px;
  width: 190px;
  height: 60px;
  color: #fff;
}
.phone-log-in-btn{
  position: absolute;
  top: 170px;
  left: 240px;
  width: 190px;
  height: 60px;
  color: #fff;
}
input{
  position: absolute;
  left: 250.5px;
  background: black;
  border: 3px solid #181616;
  border-radius: 0px;
}
input.first-name{
  position: absolute;
  top: 90px;
  left: 110.5px;
  width: 190px;
  height: 30px;
}
input.last-name{
  position: absolute;
  top: 140px;
  left: 110.5px;
  width: 190px;
  height: 30px;
}
input.id-no{
  position: absolute;
  top: 190px;
  left: 110.5px;
  width: 190px;
  height: 30px;
}
input.passwd{
  position: absolute;
  top: 290px;
  left: 110.5px;
  width: 190px;
  height: 30px;
}
input.email{
  position: absolute;
  top: 240px;
  left: 110.5px;
  width: 190px;
  height: 30px;
}
.login-btn{
  position: absolute;
  top: 420px;
  left: 110.5px;
  width: 190px;
  height: 60px;
  color: #fff;
}
.signup-btn{
  position: absolute;
  top: 390px;
  left: 110.5px;
  width: 190px;
  height: 60px;
  color: #fff;
}
p.remember{
  position: absolute;
  top: 340px;
  left: 140.5px;
  font-size: medium;
  width: 190px;
  color: #181616;
}
.login-here{
  position: absolute;
  top: 350px;
  font-size: medium;
  left: 110.5px;
  width: 190px;
  color: #000;
}
.signup-here{
  position: absolute;
  top: 375px;
  left: 110.5px;
  font-size: medium;
  width: 190px;
  color: #000;
}
.remember-1{
  position: absolute;
  top: 342px;
  font-size: medium;
  left: 110.5px;
}
.remember-1:hover{
  cursor: pointer;
}
/* BUTTON INPUT CHECKBOX END */
/* LOGIN & SIGNUP SECTION START */
.section-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  color: white;
}
section.main-login{
  position: absolute;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  background-image: url(img/pubg2.jpg);
  background-position: center;
}
section.main-signup{
  position: absolute;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  background-image: url(img/pubg2.jpg);
  background-position: center;
}
section.main-feed{
  position: absolute;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  background-image: url(img/pubg5.jpg);
  background-position: center;
}
section.main-market{
  position: absolute;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  background-image: url(img/pubg6.jpg);
  background-position: center;
}
/* LOGIN & SIGNUP SECTION END */
/* ANNOUNCEMENT AND ALL TOURNAMENTS START */
h1.tournament-h1,.announcements-h1{
  position: relative;
  top: 30%;
  font-size: medium;
}
p.tournament-p,.announcements-p{
  position: relative;
  top: 35%;
  width: 50vw;
  height: 26%;
  font-size: medium;
}
/* ANNOUNCEMENT AND ALL TOURNAMENTS END */
    /* FOOTER START */
    .footer{
      position: fixed;
      top: 93%;
      width: 100%;
      height: 55px;
      background-color: rgb(26, 23, 23);
  }
  .text-center1{
      position:absolute;
      left:75%;
      top: 0px;
  }
  .text-center2{
      position: absolute;
      left: -120%;
      top: 25%;
      color: #fff;
      font-size: medium;
  }
    /* FOOTER END */
  }
  @media screen and (max-width: 575px) {
    /* Styles for smartphones */
    /* BODY START */

    /* BODY END */
    /* NAVBAR START */

    /* NAVBAR END */
    /* SECTION START */
    .section-page {
        height: 100vh;
        width: 100vw;
        display: flex;
        color: white;
      }
      h1.tournament-h1,.announcements-h1{
        position: relative;
        top: 5%;
    }
    p.tournament-p,.announcements-p{
        position: relative;
        top: 15%;
        width: 30vw;
        height: 26%;
    }
    div.tournament-display,.announcements-display{
        position: relative;
        top: -25%;
        width: 40vw;
        bottom: 115%;
        height: 80%;
        left: 130%;
        /* background-color: #000; */
    }
    /* SECTION END */
    /* BUTTON INPUT CHECKBOX START */
.sign-up-btn{
  position: absolute;
  top: 10px;
  left: 250.5px;
  width: 190px;
  height: 60px;
  color: #fff;
}
.fb-log-in-btn{
  position: absolute;
  top: 90px;
  left: 240px;
  width: 190px;
  height: 60px;
  color: #fff;
}
.phone-log-in-btn{
  position: absolute;
  top: 170px;
  left: 240px;
  width: 190px;
  height: 60px;
  color: #fff;
}
input{
  position: absolute;
  left: 40.5px;
  background: black;
  border: 3px solid #181616;
  border-radius: 0px;
}
input.first-name{
  position: absolute;
  top: 240px;
  left: 5.5px;
  width: 190px;
  height: 30px;
}
input.last-name{
  position: absolute;
  top: 300px;
  left: 5.5px;
  width: 190px;
  height: 30px;
}
input.id-no{
  position: absolute;
  top: 360px;
  left: 5.5px;
  width: 190px;
  height: 30px;
}
input.passwd{
  position: absolute;
  top: 480px;
  left: 5.5px;
  width: 190px;
  height: 30px;
}
input.email{
  position: absolute;
  top: 400px;
  left: 5.5px;
  width: 190px;
  height: 30px;
}
input.email-log{
  position: absolute;
  top: 250px;
  left: 5.5px;
  width: 190px;
  height: 30px;
}
input.passwd-log{
  position: absolute;
  top: 320px;
  left: 5.5px;
  width: 190px;
  height: 30px;
}
.login-btn{
  position: absolute;
  top: 500px;
  left: 5.5px;
  width: 190px;
  height: 60px;
  color: #fff;
}
.signup-btn{
  position: absolute;
  top: 600px;
  left: 5.5px;
  width: 190px;
  height: 60px;
  color: #fff;
}
p.remember{
  position: absolute;
  top: 380px;
  left: 30.5px;
  font-size: medium;
  width: 190px;
  color: #181616;
}
.login-here{
  position: absolute;
  top: 540px;
  font-size: medium;
  left: 5.5px;
  width: 190px;
  color: #000;
}
.signup-here{
  position: absolute;
  top: 430px;
  left: 5.5px;
  font-size: medium;
  width: 190px;
  color: #000;
}
.remember-1{
  position: absolute;
  top: 380px;
  font-size: medium;
  left: 5.5px;
}
.remember-1:hover{
  cursor: pointer;
}
/* BUTTON INPUT CHECKBOX END */
/* LOGIN & SIGNUP SECTION START */
.section-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  color: white;
}
section.main-login{
  position: absolute;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  background-image: url(img/pubg2.jpg);
  background-position: center;
}
section.main-signup{
  position: absolute;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  background-image: url(img/pubg2.jpg);
  background-position: center;
}
section.main-feed{
  position: absolute;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  background-image: url(img/pubg5.jpg);
  background-position: center;
}
section.main-market{
  position: absolute;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  background-image: url(img/pubg6.jpg);
  background-position: center;
}
/* LOGIN & SIGNUP SECTION END */
    /* CONTACT SECTION START*/
    section.main-contus{
      position: absolute;
      height: 100vh;
      width: 100vw;
      background-image: url(img/pubg2.jpg);
      background-position: center;
    }
    .container{
      position: absolute;
      top: 20%;
      height: 100%;
    }
    h1.cont-h1{
      position: absolute;
      color: #fff;
      top: 5%;
      height: 30px;
      width: 100%;
      font-weight: 600;
      font-size: medium;
      left: 140.5px;
    }
    .cont-name{
      position: absolute;
      top: 90px;
      left: 100.5px;
      width: 220px;
      height: 30px;
    }
    .cont-email{
      position: absolute;
      top: 140px;
      left: 100.5px;
      width: 220px;
      height: 30px;
    }
    textarea{
      position: absolute;
      top: 190px;
      left: 100.5px;
      width: 220px;
    }
    .cont-btn{
      position: absolute;
      top: 320px;
      left: 100.5px;
      width: 220px;
      height: 40px;
      color: #fff;
    }
    /* CONTACT SECTION END */
    /* FOOTER START */
    .footer{
        position: fixed;
        top: 91%;
        width: 100%;
        height: 50%;
        background-color: rgb(26, 23, 23);
    }
    .btn-primary{
        border: 3px solid #fff;
        border-radius: 35px;
        background-color: #fff;
    }
    .text-center1{
        position:absolute;
        left:30%;
        top: 2%;
    }
    .text-center2{
        position: absolute;
        left: 33%;
        top: 100%;
        color: #fff;
    }
    /* FOOTER END */
  }
  @media screen and (max-width: 375px) {
    /* Styles for smartphones */

  /* SECTION START */
  .section-page {
      height: 100vh;
      width: 100vw;
      display: flex;
      color: white;
    }
    h1.tournament-h1,.announcements-h1{
      position: relative;
      top: 5%;
  }
  p.tournament-p,.announcements-p{
      position: relative;
      top: 15%;
      width: 30vw;
      height: 26%;
  }
  div.tournament-display,.announcements-display{
      position: relative;
      width: 30vw;
      bottom: 115%;
      height: 70%;
      left: 120%;
      background-color: #000;
  }
  /* SECTION END */
      /* CONTACT SECTION START */
  .sign-up-btn{
    position: absolute;
    top: 10px;
    left: 250.5px;
    width: 190px;
    height: 60px;
    color: #fff;
  }
  .fb-log-in-btn{
    position: absolute;
    top: 90px;
    left: 240px;
    width: 190px;
    height: 60px;
    color: #fff;
  }
  .phone-log-in-btn{
    position: absolute;
    top: 170px;
    left: 240px;
    width: 190px;
    height: 60px;
    color: #fff;
  }
  input{
    position: absolute;
    left: 40.5px;
    background: black;
    border: 3px solid #181616;
    border-radius: 0px;
  }
  input.first-name{
    position: absolute;
    top: 240px;
    left: 5.5px;
    width: 190px;
    height: 30px;
  }
  input.last-name{
    position: absolute;
    top: 300px;
    left: 5.5px;
    width: 190px;
    height: 30px;
  }
  input.id-no{
    position: absolute;
    top: 360px;
    left: 5.5px;
    width: 190px;
    height: 30px;
  }
  input.passwd{
    position: absolute;
    top: 480px;
    left: 5.5px;
    width: 190px;
    height: 30px;
  }
  input.email{
    position: absolute;
    top: 400px;
    left: 5.5px;
    width: 190px;
    height: 30px;
  }
  input.email-log{
    position: absolute;
    top: 250px;
    left: 5.5px;
    width: 190px;
    height: 30px;
  }
  input.passwd-log{
    position: absolute;
    top: 320px;
    left: 5.5px;
    width: 190px;
    height: 30px;
  }
  .login-btn{
    position: absolute;
    top: 500px;
    left: 5.5px;
    width: 190px;
    height: 60px;
    color: #fff;
  }
  .signup-btn{
    position: absolute;
    top: 600px;
    left: 5.5px;
    width: 190px;
    height: 60px;
    color: #fff;
  }
  p.remember{
    position: absolute;
    top: 380px;
    left: 30.5px;
    font-size: medium;
    width: 190px;
    color: #181616;
  }
  .login-here{
    position: absolute;
    top: 540px;
    font-size: medium;
    left: 5.5px;
    width: 190px;
    color: #000;
  }
  .signup-here{
    position: absolute;
    top: 430px;
    left: 5.5px;
    font-size: medium;
    width: 190px;
    color: #000;
  }
  .remember-1{
    position: absolute;
    top: 380px;
    font-size: medium;
    left: 5.5px;
  }
  .remember-1:hover{
    cursor: pointer;
  }
  /* BUTTON INPUT CHECKBOX END */
  /* LOGIN & SIGNUP SECTION START */
  .section-page {
    height: 100vh;
    width: 100vw;
    display: flex;
    color: white;
  }
  section.main-login{
    position: absolute;
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
    background-image: url(img/pubg2.jpg);
    background-position: center;
  }
  section.main-signup{
    position: absolute;
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
    background-image: url(img/pubg2.jpg);
    background-position: center;
  }
  section.main-feed{
    position: absolute;
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
    background-image: url(img/pubg5.jpg);
    background-position: center;
  }
  section.main-market{
    position: absolute;
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
    background-image: url(img/pubg6.jpg);
    background-position: center;
  }
  /* LOGIN & SIGNUP SECTION END */
      /* CONTACT SECTION START*/
      section.main-contus{
        position: absolute;
        height: 100vh;
        width: 100vw;
        background-image: url(img/pubg2.jpg);
        background-position: center;
      }
      .container{
        position: absolute;
        top: 20%;
        height: 100%;
      }
      h1.cont-h1{
        position: absolute;
        color: #fff;
        top: 5%;
        height: 30px;
        width: 100%;
        font-weight: 600;
        font-size: medium;
        left: 140.5px;
      }
      .cont-name{
        position: absolute;
        top: 90px;
        left: 100.5px;
        width: 220px;
        height: 30px;
      }
      .cont-email{
        position: absolute;
        top: 140px;
        left: 100.5px;
        width: 220px;
        height: 30px;
      }
      textarea{
        position: absolute;
        top: 190px;
        left: 100.5px;
        width: 220px;
      }
      .cont-btn{
        position: absolute;
        top: 320px;
        left: 100.5px;
        width: 220px;
        height: 40px;
        color: #fff;
      }
      /* CONTACT SECTION END */
        /* FOOTER START */
        .footer{
          position: fixed;
          top: 92%;
          width: 100%;
          height: 50%;
          background-color: rgb(26, 23, 23);
      }
      .btn-primary{
          border: 3px solid #fff;
          border-radius: 35px;
          background-color: #fff;
      }
      .text-center1{
          position:absolute;
          left:30%;
          top: 2%;
      }
      .text-center2{
          position: absolute;
          left: 33%;
          top: 100%;
          color: #fff;
      }
      /* FOOTER END */
  }
/* MEDIA QUERY END */