*{
    margin: 0;
    top: 0;
    font-family: 'Times New Roman', Times, serif;
}
body{
    scroll-behavior: smooth;
}
/* INDEX SECTION START */
.section-page {
    height: 100vh;
    display: flex;
    color: white;
  }

  /* Style for Section 1 */
  .section-page:nth-child(1) {
    background-image: url('img/pubg1.jpg');
    background-size: cover;
    background-position: center;
  }
h1.tournament-h1,.announcements-h1{
    position: relative;
    top: 30%;
}
p.tournament-p,.announcements-p{
    position: relative;
    top: 35%;
    width: 50vw;
    height: 26%;
}
div.tournament-display,.announcements-display{
    position: relative;
    width: 45vw;
    height: 70%;
    left: 100%;
}
  /* Style for Section 2 */
  .section-page:nth-child(2) {
    background-image: url('img/pubg2.jpg');
    background-size: cover;
    background-position: center;
  }

  /* Style for Section 3 */
  .section-page:nth-child(3) {
    background-image: url('img/pubg3.jpg');
    background-size: cover;
    background-position: center;
  }

  .content {
    padding: 20px;
  }
/* INDEX SECTION END */
/* LOGIN & SIGNUP SECTION START */
section.main-login{
    position: absolute;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    background-image: url(img/pubg2.jpg);
}
section.main-signup{
    position: absolute;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    background-image: url(img/pubg2.jpg);
}
section.main-feed{
    position: absolute;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    background-image: url(img/pubg5.jpg);
}
section.main-market{
    position: absolute;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    background-image: url(img/pubg6.jpg);
}
/* LOGIN & SIGNUP SECTION END */
/* CONTACT SECTION START*/
section.main-contus{
    position: absolute;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    background-image: url(img/pubg2.jpg);
}
.container{
    position: absolute;
    top: 20%;
    height: 100%;
}
h1.cont-h1{
    position: absolute;
    color: #fff;
    top: 5%;
    height: 30px;
    width: 100%;
    left: 530px;
}
.cont-name{
    position: absolute;
    top: 90px;
    left: 530px;
    width: 300px;
    height: 30px;
}
.cont-email{
    position: absolute;
    top: 140px;
    left: 530px;
    width: 300px;
    height: 30px;
}
textarea{
    position: absolute;
    top: 190px;
    left: 530px;
    width: 300px;
}
.cont-btn{
    position: absolute;
    top: 320px;
    left: 530px;
    width: 300px;
    height: 40px;
    color: #fff;
}
/* CONTACT SECTION END */
h1,h2{
    color: white;
}
section.center{
    position: absolute;
    height: 100%;
    width: 50%;
    left: 25%;
}
div.right-items{
    position: absolute;
    height: 100%;
    top: 40px;
}
/* BUTTON INPUT CHECKBOX START */
.sign-up-btn{
    position: absolute;
    top: 10px;
    left: 240px;
    width: 190px;
    height: 60px;
    color: #fff;
}
.fb-log-in-btn{
    position: absolute;
    top: 90px;
    left: 240px;
    width: 190px;
    height: 60px;
    color: #fff;
}
.phone-log-in-btn{
    position: absolute;
    top: 170px;
    left: 240px;
    width: 190px;
    height: 60px;
    color: #fff;
}
button{
    padding: 10px;
    background: black;
    border: 3px solid #b6adad;
    border-radius: 0px;
}
button:hover{
    cursor: pointer;
}
input{
    position: absolute;
    left: 240px;
    background: black;
    border: 3px solid #181616;
    border-radius: 0px;
}
input::placeholder{
    color: #fff;
}
input[type="text"]{
    color: #fff;
}
input[type="password"]{
    color: #fff;
}
input[type="email"]{
    color: #fff;
}
input.first-name{
    position: absolute;
    top: 90px;
    left: 240px;
    width: 190px;
    height: 30px;
}
input.last-name{
    position: absolute;
    top: 140px;
    left: 240px;
    width: 190px;
    height: 30px;
}
input.id-no{
    position: absolute;
    top: 190px;
    left: 240px;
    width: 190px;
    height: 30px;
}
input.passwd{
    position: absolute;
    top: 290px;
    left: 240px;
    width: 190px;
    height: 30px;
}
input.email{
    position: absolute;
    top: 240px;
    left: 240px;
    width: 190px;
    height: 30px;
}
.login-btn{
    position: absolute;
    top: 420px;
    left: 240px;
    width: 190px;
    height: 60px;
    color: #fff;
}
.signup-btn{
    position: absolute;
    top: 390px;
    left: 240px;
    width: 190px;
    height: 60px;
    color: #fff;
}
p.remember{
    position: absolute;
    top: 340px;
    left: 270px;
    width: 190px;
    color: #181616;
}
.login-here{
    position: absolute;
    top: 350px;
    left: 240px;
    width: 190px;
    color: #000;
}
.signup-here{
    position: absolute;
    top: 375px;
    left: 240px;
    width: 190px;
    color: #000;
}
.remember-1{
    position: absolute;
    top: 342px;
}
.remember-1:hover{
    cursor: pointer;
}
/* BUTTON INPUT CHECKBOX END */
/* FOOTER START */
.footer{
    position: fixed;
    top: 93%;
    width: 100%;
    height: 55px;
    background-color: rgb(26, 23, 23);
}
.btn-primary{
    border: 3px solid #fff;
    border-radius: 35px;
    background-color: #fff;
}
.text-center1{
    position:absolute;
    left:75%;
    top: 0px;
}
.text-center2{
    position: absolute;
    left: -225%;
    top: 25%;
    color: #fff;
}
/* FOOTER END */
/* NAVBAR START */
nav{
    position: absolute;
    width: 97%;
}
  .navbar {
    background-color: rgb(26, 23, 23);
    color: white;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-list li {
    margin-left: 35px;
  }
  
  .nav-list li:first-child {
    margin-left: 0;
  }
  
  .nav-list li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
  }
  
  .nav-list li a:hover {
    color: gray;
  }  
/* NAVBAR END */
/* MEDIA QUERY START */
@media screen and (max-width: 1200px) {
    /* Styles for desktops and laptops */
  }
  
  @media screen and (max-width: 992px) {
    /* Styles for tablets */
  }
  
  @media screen and (max-width: 768px) {
    /* Styles for smartphones */
    
  }
  @media screen and (max-width: 425px) {
    /* Styles for smartphones */
    /* NAVBAR START */

    /* NAVBAR END */
  }
  @media screen and (max-width: 375px) {
    /* Styles for smartphones */
  }
  
/* MEDIA QUERY END */